<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sean's User CR assignment</title>
    <meta name="description" content="The users CR assignment for Coding Dojo Python stack">
<!--
    ..............................M..........................
    ..............................M..........................
    ..............................MMMM.......................
    ...............................MMMM......................
    ................................M.MMD....................
    ................................M...MM...................
    ...........................M....M....MM. ................
    .........................,MM...DM.....MM.................
    ........................MMMM...M:......MM................
    ......................NMN.MM.MMO........MM...............
    .................... MM....:M...........:M...............
    ...................NMN...................MM..............
    ................. MM......................MO.............
    ................~MM.....M........M........MM.............
    ...............MM.....8MM........MM.......MM.............
    ..............MM.....MMM.........MMM......MM.............
    .............MM.....:MMM.........MMM......MM.............
    ............MM......MMMM.MMMMMM..MMMM.....MM...M.........
    ...........MM......:MMM........MMMMMMM....MD...M.........
    ..........MM.......MM..........MMNMMMM....M....MM........
    ..........MM......M..........MMMMMMMMM:..OM...:MMN.......
    .........:M......MM..........MMMMMMMMM...NM...MM.M.......
    .........NM.....MM...O........MMMMMMMM...8M..MM..MM......
    .........MM.....M:..OO................M...MMMM...MM......
    .........MM.....M...O.................MN..........M......
    .........:M.....M.....................MM:.........MM.....
    ..........MD....MN.....................MN.........MM.....
    ..........MM....DM.....................MM.........MM.....
    ......M...MM.....NMM..................:MM..........M.....
    ......M...MM......?M.MD:,..............MM..........M.....
    .....M:M..MM.....M:...................:M:..........M.....
    .....M.MMMM:....MM....................MM..........MM.....
    .....M.........MM.....................MM:MMMM.....MM.....
    .....M........:M.....................:MMM..:MM....M:.....
    .....M........MM.....................MMM...:MM...MM......
    .....MM.......MM....................:MM.....MM...MM......
    .....MM.......MM....................MM......MM..ZM.......
    ......M......:MM...................MM.......MM..MM.......
    ......MM......:M:.................MM........M:.NM........
    .......M.......MM................MM........:M.:M.........
    .......MM:.....:MM.............MM.........:M:.MM.........
    ........MM......?MMM........MMM..........:M.:MM..........
    .........M:........:MMMMMMM:............M:..MM...........
    .........:M...........................MM...MM............
    ..........:MM.......................MM....NM.............
    ............MM.......NMMMMM:.....MMM......M..............
    ................N...NM..M: .MMMMMM.......................
    ................MMM+MMMMM. ..............................
    .................MMMMMMM.................................
    .................ZMMMMN..................................
    ..................MMMM...................................
    ...................MM....................................
    ....................M....................................
    .........___......_ _......._............................
    ........|_  |....| | |.....| |...........................
    ..........| | ___| | |_   _| |__   ___  __ _ _ __........
    ..........| |/ _ \ | | | | | '_ \ / _ \/ _` | '_ \.......
    ....../\__/ /  __/ | | |_| | |_) |  __/ (_| | | | |......
    ......\____/ \___|_|_|\__, |_.__/ \___|\__,_|_| |_|......
    .......................__/ |.............................
    ......................|___/..............................
    ......______........................_   _......_ _ ......
    ......|  ___|......................| | | |....| | |......
    ......| |_ _ __ ___  _ __ ___ .....| |_| | ___| | |......
    ......|  _| '__/ _ \| '_ ` _ \ ....|  _  |/ _ \ | |......
    ......| | | | | (_) | | | | | |....| | | |  __/ | |......
    ......\_| |_|  \___/|_| |_| |_|....\_| |_/\___|_|_|......
    .........................................................
-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h1 style="font-weight: bold; margin: 5% 20%;">All Users</h1>
    <div class="container border border-1 border-dark d-flex justify-content-center" style="margin-bottom: 2%; width: 750px; padding: 0px; max-height: 450px; overflow-y: scroll;">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                    <tr>
                        <td>{{ user['id'] }}</td>
                        <td>{{ user['name'] }}</td>
                        <td>{{ user['email'] }}</td>
                        <td><a href="/users/{{ user['id'] }}">Show</a> | <a href="/users/update/{{ user['id'] }}">Edit</a> | <a href="/users/delete/{{ user['id'] }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a style="margin: 5% 20%;" href="/users/new">Add new user</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>              