<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User CR assignment New User page</title>
        <meta name="description" content="The users CR assignment for Coding Dojo Python stack">
    <!--
        ..............................M..........................
        ..............................M..........................
        ..............................MMMM.......................
        ...............................MMMM......................
        ................................M.MMD....................
        ................................M...MM...................
        ...........................M....M....MM. ................
        .........................,MM...DM.....MM.................
        ........................MMMM...M:......MM................
        ......................NMN.MM.MMO........MM...............
        .................... MM....:M...........:M...............
        ...................NMN...................MM..............
        ................. MM......................MO.............
        ................~MM.....M........M........MM.............
        ...............MM.....8MM........MM.......MM.............
        ..............MM.....MMM.........MMM......MM.............
        .............MM.....:MMM.........MMM......MM.............
        ............MM......MMMM.MMMMMM..MMMM.....MM...M.........
        ...........MM......:MMM........MMMMMMM....MD...M.........
        ..........MM.......MM..........MMNMMMM....M....MM........
        ..........MM......M..........MMMMMMMMM:..OM...:MMN.......
        .........:M......MM..........MMMMMMMMM...NM...MM.M.......
        .........NM.....MM...O........MMMMMMMM...8M..MM..MM......
        .........MM.....M:..OO................M...MMMM...MM......
        .........MM.....M...O.................MN..........M......
        .........:M.....M.....................MM:.........MM.....
        ..........MD....MN.....................MN.........MM.....
        ..........MM....DM.....................MM.........MM.....
        ......M...MM.....NMM..................:MM..........M.....
        ......M...MM......?M.MD:,..............MM..........M.....
        .....M:M..MM.....M:...................:M:..........M.....
        .....M.MMMM:....MM....................MM..........MM.....
        .....M.........MM.....................MM:MMMM.....MM.....
        .....M........:M.....................:MMM..:MM....M:.....
        .....M........MM.....................MMM...:MM...MM......
        .....MM.......MM....................:MM.....MM...MM......
        .....MM.......MM....................MM......MM..ZM.......
        ......M......:MM...................MM.......MM..MM.......
        ......MM......:M:.................MM........M:.NM........
        .......M.......MM................MM........:M.:M.........
        .......MM:.....:MM.............MM.........:M:.MM.........
        ........MM......?MMM........MMM..........:M.:MM..........
        .........M:........:MMMMMMM:............M:..MM...........
        .........:M...........................MM...MM............
        ..........:MM.......................MM....NM.............
        ............MM.......NMMMMM:.....MMM......M..............
        ................N...NM..M: .MMMMMM.......................
        ................MMM+MMMMM. ..............................
        .................MMMMMMM.................................
        .................ZMMMMN..................................
        ..................MMMM................................... 
        ...................MM....................................
        ....................M....................................
        .........___......_ _......._............................
        ........|_  |....| | |.....| |...........................
        ..........| | ___| | |_   _| |__   ___  __ _ _ __........
        ..........| |/ _ \ | | | | | '_ \ / _ \/ _` | '_ \.......
        ....../\__/ /  __/ | | |_| | |_) |  __/ (_| | | | |......
        ......\____/ \___|_|_|\__, |_.__/ \___|\__,_|_| |_|......
        .......................__/ |.............................
        ......................|___/..............................
        ......______........................_   _......_ _ ......
        ......|  ___|......................| | | |....| | |......
        ......| |_ _ __ ___  _ __ ___ .....| |_| | ___| | |......
        ......|  _| '__/ _ \| '_ ` _ \ ....|  _  |/ _ \ | |......
        ......| | | | | (_) | | | | | |....| | | |  __/ | |......
        ......\_| |_|  \___/|_| |_| |_|....\_| |_/\___|_|_|......
        .........................................................
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
<body>
    <div style="padding: 5% 12%;" class="container d-flex justify-content-between align-items-center">
        <h1 style="font-weight: bold;">Add A User</h1>
        <a href="/">home</a>
    </div>
    <div class="container border border-1 border-dark border-rounded d-flex justify-content-center" style="width: fit-content;">
        <form action="/create_user" method="POST">
            <div class="row m-3">
                <div class="col">
                    <input type="text" class="form-control" name="first_name" placeholder="First Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                </div>
                <div class="col">
                    <input type="email" class="form-control" name="email" placeholder="your@email.address">
                </div>
            </div>
            <div class="row text-center">
                <p><button>submit</button></p>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>